@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item .fa-search{
    margin-bottom: 20px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .portfolio-item .item img{
    width: 180px;
    height: auto;
    border-radius: 8px;
    margin: 20px;
  }
  #banner h3{
    font-size: 50px;
  }
  #banner button{
    padding: 0.8rem 1.6rem;
  }
}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  .wrapper nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}
@media only screen and (max-width: 575px){
  .card-pricing{
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 380px){
  #banner h3{
    font-size: 40px;
  }
}
